In [1]:
import pandas as pd

In [2]:
from pandasql import sqldf

In [6]:
sample = pd.read_csv("sample_supplier.csv", sep='\t')
result = pd.read_csv("task_1_aggregate_quantities.csv", sep='\t')

In [7]:
price_comparison = sqldf("""
SELECT r.part_number, r.manufacturer, r.price AS result_price, s.price 
AS sample_price
FROM result r
LEFT JOIN sample s
ON r.part_number = s.part_number AND r.manufacturer = s.manufacturer""")

In [8]:
print(price_comparison)

       part_number manufacturer result_price  sample_price
0          226 920        LINEX        28,20        692.93
1          039 042      SUNSTAR        50,51        531.74
2          039 056      SUNSTAR        53,57        697.56
3          503 840          EPS        82,69        308.68
4          348 649          RMS        48,31        439.29
...            ...          ...          ...           ...
128229     392 361         None       107,79           NaN
128230     401 211         None        58,71           NaN
128231     415 474         None        14,21           NaN
128232     521 409         None       240,19           NaN
128233     623 944         None       116,63           NaN

[128234 rows x 4 columns]

In [9]:
price_comparison.to_excel("price_comparison.xlsx", index=False)
price_comparison.to_csv('price_comparison.csv', index=False)